.grid-list-header {
  font-size: medium;
  padding: 4px;
  margin: 0px;
}

.grid-header-row {
  background-color: #0077B7;
  color: white;
}

.grid-column-sort {
  font-size: xx-small;
}

.grid-column-container {
  border-right: thin solid;
}

.grid-header-cell-resizeHandle:hover {
  cursor: ew-resize;
}

.grid-group-by-drop {
  background-color: papayawhip;
  padding: 4px;
}

.grid-group-by-cell {
  margin-left: 4px;
}

.grid-group-by-cell > i {
  padding-right: 2px;
  padding-left: 2px;
  font-size: 8px;
  color: white;
  opacity: 0.7;
}

.grid-group-by-cell > i:hover {
  opacity: 1;
  cursor: pointer;
}

.grid-group-row {
  background-color: #dddddd;
}

.grid-summary-row {
  background-color: #0077B7;
  color: white;
}

.grid-settings-buttons {
  margin-top: 10px;
  margin-bottom: 5px;
}
