
.icon-male:before { content: '\e800'; } /* '' */
.icon-female:before { content: '\e801'; } /* '' */
.icon-window-maximize:before { content: '\f2d0'; } /* '' */
.icon-window-minimize:before { content: '\f2d1'; } /* '' */
.icon-window-restore:before { content: '\f2d2'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */