
/* Dropdown classes (could be put in a css-module instead of global scope) */
/* ======================================================================= */
.selected {
  background-color: lightgrey;
}

.dropdown-menu {
  padding: 2px;
  border-radius: 0px;
  overflow: auto;
  display: block;
  max-height: 80px;
}

.dropdown-menu li:hover {
  background-color: lightgrey
}


.bootstrap-tokenizer .token {
  background-color: #e7f4ff;
  border: 0;
  border-radius: 2px;
  color: #1f8dd6;
  display: inline-block;
  line-height: 1em;
  margin: 0 3px 3px 0;
  padding: 4px 7px;
  position: relative;
}

.bootstrap-tokenizer .token-disabled {
  background-color: #ddd;
  color: #888;
  pointer-events: none;
}

.bootstrap-tokenizer .token-removeable {
  cursor: pointer;
  padding-right: 21px;
}

.bootstrap-tokenizer .token-selected {
  background-color: #1f8dd6;
  color: #fff;
  outline: none;
  text-decoration: none;
}

.bootstrap-tokenizer .token .close-button {
  padding: 3px 7px;
}

/* Styles related to lists etc. */
/* ============================ */
body {
  color: #000;
}

.glyphicon.glyphicon-dot:before {
  content: "\25cf";
  font-size: 1.0em;
}

h1 {
  font-size: 20px;
  color: #0077B7 !important;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}
/* == Tables == */

.panel-heading.panel-heading-sm.row {
  padding: 2px 0px 2px 0px; /* Make a more compact table header */
}

.panel {
  margin-bottom: 0;
}

.table > thead > tr > th {
  padding-top: 5px; /* Make a more compact table header */
  padding-bottom: 0;
  background-color: #626366;
  border-color: #626366;
  color: #fff;
}

.table > thead > tr > th:hover {
  background-color: #626366 !important;
}

.table > tbody > tr > td {
  padding-top: 4px; /* Make a more compact table */
  padding-bottom: 4px;
}

.table tr:hover {
  background-color: #CDEAEB !important;
}

.react-bs-table-pagination {
  margin-top: 0px;
}

.react-bs-table-pagination > div {
  font-size: 0.9em;
  margin-top: 0px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 0.9em !important;
}

.react-bootstrap-table-page-btns-ul.pagination {
  margin-bottom: 4px !important;
}

.page-link {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

.panel-default {
  border-color: #F0F0F0;
}

.panel-widget {
  border-color: #626366;
}

.panel-widget > .panel-heading {
  background: #C3C3C3 !important;
  padding: 0 !important;
  color: #000;
  border: none;
}

.panel-widget .panel-title {
  font-weight: bold !important;
  text-transform: uppercase;
}

.panel-widget .btn {
}

.panel-widget .btn:hover {
  color: #fff;
}

.panel-widget .btn:visited {
  color: #fff;
}

div[class^="col-"] {
  padding-left: 10px;
}

.no-sidepadding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panel-footer.panel-footer-sm.row {
  padding-bottom: 2px; /* Make a more compact table footer */
}

label.panel-title {
  padding: 5px 0; /* Leave some room in panel titles */
  font-size: 14px;
}

.modal-header {
  background-color: #0077B7;
  color: white;
}

.modal-title {
  color: white;
  font-weight: bold;
}

.modal-header .close {
  color: white;
}

.modal-footer {
  background-color: #F0F0F0;
}

.active {
  background-color: #008074 !important;
  color: white;
}


tr.active td {
  background-color: #008074 !important;
  color: white;
}

tr.active td li a {
  background-color: #008074 !important;
  color: white;
}

.table tbody tr {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}


li a.active {
  color: white !important;
}

body {
  font-family: 'Tahoma Light', arial, helvetica, sans-serif;
  font-size: 0.75em;
}

label {
  cursor: default;
}


.table-header {
  background-color: #0077B7;
  color: white;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

[class^="col"] {
  padding: 0 10px;
}

.well {
  background-color: #F0F0F0;
  border-color: #C3C3C3;
  margin-bottom: 5px !important;
}


.whitespace {
  margin-top: 20px;
}

.page-backdrop {
  padding: 12px;
  background-color: #F0F0F0;
  overflow: visible;
}

.watermark {
  color: silver;
}


.horisontalRule {
  clear: both;
  color: #0077B7;
}

.clearRight {
  clear: right;
}

.table-fixed tbody {
  height: 500px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead {
  display: block;
}

.table-fixed tbody {
  display: block;
}

.table-fixed tr {
  display: block;
}

.table-fixed td {
  display: block;
}

.table-fixed td:nth-child(1) {
  clear: left !important;
}

.table-fixed th {
  display: block;
}

.table-fixed tbody td {
  float: left;
  border-bottom-width: 0;
}

.table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

.has-aux {
  padding-right: 32px;
}

.has-aux.input-lg {
  padding-right: 42px;
}


.larger {
  font-size: 20px;
}

.truncate-cell {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
}

.react-bs-table-bordered {
  border: 0;
  border-radius: 0;
}

.table-bordered > thead > tr > th {
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}

.table-bordered > tbody > tr > td {
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}

.order {
  margin-bottom: -5px !important;
}

.react-bs-container-header {
  overflow: visible;
}

.react-bs-container-header > table > thead > tr > th {
  vertical-align: top !important;
}

.react-bs-container-header > table > thead > tr > :hover {
  background-color: #F0F0F0;
}

.grid-filter-icon {
  color: #fff;
}

.grid-filter-icon:hover {
  color: #81D3C9;
  cursor: pointer;
}

.activeFilter {
  color: #81D3C9;
  /*display: inline-block;*/

}

.filter-container {
  position: relative;
  top: -15px;
  margin-bottom: -12px;
  color: #fff;
}


.filter-container {
  position: relative;
  top: -15px;
  margin-bottom: -12px;
  color: #fff;
}

.react-bs-table table th {
  overflow: visible;
}
.react-bs-container-body {
  overflow: visible;
}
.filter-choices-box {
  max-height: 150px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.10);
  box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.10);
}

.filter-rounded-box {
  position: absolute;
  right: 0;
  width: 220px;
  border: 1px solid rgb(214, 214, 214);
  padding: 10px;
  background-color: #FFF;
  cursor: auto;
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.30);
  color: #000;
}

.filter-settings-box {
  right: auto;
}

.filter-choices-clear {
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 2px 5px;
}

.filter-choices-clear:hover {
  color: #1f8dd6;
  /*display: inline-block;*/
  border-radius: 20px;
  background-color: #F0F0F0;
  cursor: pointer;
}

.table-grid-settings {
  padding: 5px 0;
}

.table-grid-settings:hover {
  color: #1f8dd6;
  cursor: pointer;
}

.icon-stack {
  position: relative;
  padding-left: 1px;
}

.icon-stack .glyphicon {
  position: absolute;
}

.icon-stack .top {
  z-index: 2;
}
