body {
  font-family: 'Tahoma Light', arial, helvetica, sans-serif;
  font-size-discrete: 0.75em;
  font-size: 0.9em;
  font-size-large: 1em;
  font-size-larger: 1.5em;
  line-height: 1.2em;
  line-height-large: 1.5em;
}
